$footer-background-color: $dark;

$primary: #0f37ff;
$secondary: #ff00ad;

$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "grey": (#aaaaaa, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Fonts
@font-face {
    font-family: 'Courgette';
    src: url('../assets/font/Courgette-Regular.ttf');
    font-weight: normal;
    font-style:  normal;
}

$family-monospace: 'Courgette', cursive;
$family-sans-serif: 'Courgette', cursive;